# Objective

Predict if a property is a good investment based on financial and physical attributes.

<b>Target:</b>

A binary variable indicating good (1) or bad (0) investment. Define this based on criteria such as a high rent-to-price ratio or a favorable market estimate compared to the listed price.

In [473]:
import pandas as pd

# Data exploration

In [474]:
real_estate_data = pd.read_csv("./data/real_estate_data.csv")
real_estate_data.describe()

# Find any missing data in the dataset.
missing_values = real_estate_data.isnull().sum()

missing_values

State                0
City                 0
Street               0
Zipcode              0
Bedroom             14
Bathroom            34
Area                 0
PPSq                 0
LotArea            902
MarketEstimate    7236
RentEstimate      5976
Latitude             0
Longitude            0
ListedPrice          0
dtype: int64

In [475]:
# See how much data there is with no null values. This can help us determine if we can simply remove all of the nulls from the dataset.

len(real_estate_data.dropna()), real_estate_data.dropna().isnull().sum()

(14853,
 State             0
 City              0
 Street            0
 Zipcode           0
 Bedroom           0
 Bathroom          0
 Area              0
 PPSq              0
 LotArea           0
 MarketEstimate    0
 RentEstimate      0
 Latitude          0
 Longitude         0
 ListedPrice       0
 dtype: int64)

In [476]:
# Get the average difference of List to Estimate by state.

no_null_market_estimate = real_estate_data[real_estate_data["MarketEstimate"].notnull()]

avg_market_minus_list = (
    real_estate_data["MarketEstimate"] - real_estate_data["ListedPrice"]
).median()
avg_market_minus_list

-1600.0

# Data preprocessing

In [477]:
# Remove all rows without a Rent Estimate as this value is vital to my analysis.

real_estate_data = real_estate_data[real_estate_data["RentEstimate"].notnull()]

len(real_estate_data), real_estate_data.isnull().sum()

(16705,
 State                0
 City                 0
 Street               0
 Zipcode              0
 Bedroom              9
 Bathroom            24
 Area                 0
 PPSq                 0
 LotArea            611
 MarketEstimate    1308
 RentEstimate         0
 Latitude             0
 Longitude            0
 ListedPrice          0
 dtype: int64)

In [478]:
# Update market estimates with the average difference between
for index, row in real_estate_data.iterrows():
    if pd.isna(row["MarketEstimate"]):
        real_estate_data.at[index, "MarketEstimate"] = (
            row["ListedPrice"] + avg_market_minus_list
        )

real_estate_data.isnull().sum()

State               0
City                0
Street              0
Zipcode             0
Bedroom             9
Bathroom           24
Area                0
PPSq                0
LotArea           611
MarketEstimate      0
RentEstimate        0
Latitude            0
Longitude           0
ListedPrice         0
dtype: int64

In [479]:
# Populate bed, bath, and lot area based on the median area for the given state.


def get_median_for_row(row: pd.Series, df: pd.DataFrame, area_offset=200):
    area = row["Area"]
    filtered_df = df[df["State"].eq(row["State"])].query(
        f"Area <= {area + area_offset} or Area >= {area - area_offset}"
    )
    median_bed = filtered_df["Bedroom"].median()
    median_bath = filtered_df["Bathroom"].median()
    median_lot = filtered_df["LotArea"].median()
    return median_bed, median_bath, median_lot


for index, row in real_estate_data.iterrows():
    if pd.isna(row["Bedroom"]) or pd.isna(row["Bathroom"]) or pd.isna(row["LotArea"]):
        if pd.isna(row["Bedroom"]):
            median_bed, _, _ = get_median_for_row(row, real_estate_data)
            real_estate_data.at[index, "Bedroom"] = median_bed
        if pd.isna(row["Bathroom"]):
            _, median_bath, _ = get_median_for_row(row, real_estate_data)
            real_estate_data.at[index, "Bathroom"] = median_bath
        if pd.isna(row["LotArea"]):
            _, _, median_lot = get_median_for_row(row, real_estate_data)
            real_estate_data.at[index, "LotArea"] = median_lot

real_estate_data.isnull().sum()

State             0
City              0
Street            0
Zipcode           0
Bedroom           0
Bathroom          0
Area              0
PPSq              0
LotArea           0
MarketEstimate    0
RentEstimate      0
Latitude          0
Longitude         0
ListedPrice       0
dtype: int64

In [480]:
# Convert zipcodes to string data as the number representation does not provide much value.


def zip_to_zip_str(numeric_zip: float):
    rounded_zip = int(numeric_zip)
    return str(rounded_zip).zfill(5)


real_estate_data["Zipcode"] = real_estate_data["Zipcode"].apply(zip_to_zip_str)

real_estate_data["Zipcode"].unique()

array(['36571', '35043', '35811', ..., '82649', '83112', '82932'],
      dtype=object)

In [481]:
from src.const import property_tax_rates

# Calculating the additional features:

real_estate_data["AnnualPropertyTaxEstimate"] = real_estate_data[
    "MarketEstimate"
] * real_estate_data["State"].map(property_tax_rates)


# Estimated Monthly Mortgage - assuming a 30-year fixed mortgage at 6% interest rate.
interest_rate = 0.06 / 12
loan_term = 30 * 12  # 30 years fixed rate loan.
real_estate_data["MonthlyMortgageEstimate"] = (
    real_estate_data["ListedPrice"] * interest_rate * (1 + interest_rate) ** loan_term
) / ((1 + interest_rate) ** loan_term - 1)

real_estate_data[
    [
        "ListedPrice",
        "MarketEstimate",
        "RentEstimate",
        "AnnualPropertyTaxEstimate",
        "MonthlyMortgageEstimate",
    ]
].head()

,ListedPrice,MarketEstimate,RentEstimate,AnnualPropertyTaxEstimate,MonthlyMortgageEstimate
0,239900.0,240600.0,1599.0,986.46,1438.321710
3,335000.0,336200.0,1932.0,1378.42,2008.494259
4,250000.0,222700.0,1679.0,913.07,1498.876313
5,151000.0,150500.0,1385.0,617.05,905.321293
6,239000.0,238400.0,2125.0,977.44,1432.925755

In [482]:
# For this exercise I am going to populate the "GoodInvestment" field with 1 when the Rent price exceeds the annual cost of the home.

real_estate_data["AnnualCost"] = (
    real_estate_data["MonthlyMortgageEstimate"] * 12
) + real_estate_data["AnnualPropertyTaxEstimate"]
real_estate_data["AnnualIncome"] = real_estate_data["RentEstimate"] * 12

real_estate_data["GoodInvestment"] = real_estate_data.apply(
    lambda row: 1 if row["AnnualIncome"] > row["AnnualCost"] else 0, axis=1
)

len(real_estate_data), real_estate_data["GoodInvestment"].value_counts()

(16705,
 GoodInvestment
 0    10523
 1     6182
 Name: count, dtype: int64)

In [483]:
X = real_estate_data.drop(
    [
        "GoodInvestment",
        "AnnualCost",
        "AnnualIncome",
        "RentEstimate",
        "MonthlyMortgageEstimate",
        "AnnualPropertyTaxEstimate",
    ],
    axis=1,
)

y = real_estate_data["GoodInvestment"]

# Proceed with splitting the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

f"Training set size: {X_train.shape[0]}", f"Testing set size: {X_test.shape[0]}"

('Training set size: 13364', 'Testing set size: 3341')

# Decision Tree

In [484]:
# Decisions trees sometimes perform better when continuous data data is binned. We will bin values like areas, beds, bathrooms, and prices.

area_bins = [
    0,
    1000,
    1500,
    2000,
    2500,
    3000,
    3500,
    4000,
    5000,
    7500,
    10000,
    real_estate_data["Area"].max() + 1,
]
area_labels = [
    "0-1000 sqft",
    "1000-1500 sqft",
    "1500-2000 sqft",
    "2000-2500 sqft",
    "2500-3000 sqft",
    "3000-3500 sqft",
    "3500-4000 sqft",
    "4000-5000 sqft",
    "5000-7500 sqft",
    "7500-10000 sqft",
    "10000+ sqft",
]

price_bins = [
    0,
    150_000,
    200_000,
    250_000,
    300_000,
    350_000,
    400_000,
    450_000,
    500_000,
    600_000,
    750_000,
    1_000_000,
    2_500_000,
    5_000_000,
    10_000_000,
    real_estate_data["ListedPrice"].max() + 1,
]
price_labels = [
    "0-150k",
    "150k-200k",
    "200k-250k",
    "250k-300k",
    "300k-350k",
    "350k-400k",
    "400k-450k",
    "450k-500k",
    "500k-600k",
    "600k-750k",
    "750k-1m",
    "1m-2m",
    "2.5m-5m",
    "5m-10m",
    "10m+",
]

lot_bins = [
    0,
    0.11,
    0.17,
    0.23,
    0.35,
    0.5,
    1,
    1.5,
    3,
    10,
    real_estate_data["LotArea"].max() + 1,
]
lot_labels = [
    "0-0.11 acres",
    "0.11-0.17 acres",
    "0.17-0.23 acres",
    "0.23-0.35 acres",
    "0.35-0.5 acres",
    "0.5-1 acres",
    "1-1.5 acres",
    "1.5-3 acres",
    "3-10 acres",
    "10+ acres",
]

bed_bins = [0] + real_estate_data["Bathroom"].sort_values().unique()
bed_labels = [str(bed) for bed in bed_bins]
bed_labels.pop(0)

bath_bins = [0] + real_estate_data["Bedroom"].sort_values().unique()
bath_labels = [str(bath) for bath in bath_bins]
bath_labels.pop(0)

price_bins, price_labels, area_bins, area_labels, lot_bins, lot_labels, bed_bins, bed_labels, bath_bins, bath_labels

([0,
  150000,
  200000,
  250000,
  300000,
  350000,
  400000,
  450000,
  500000,
  600000,
  750000,
  1000000,
  2500000,
  5000000,
  10000000,
  76000001.0],
 ['0-150k',
  '150k-200k',
  '200k-250k',
  '250k-300k',
  '300k-350k',
  '350k-400k',
  '400k-450k',
  '450k-500k',
  '500k-600k',
  '600k-750k',
  '750k-1m',
  '1m-2m',
  '2.5m-5m',
  '5m-10m',
  '10m+'],
 [0, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 5000, 7500, 10000, 99991.0],
 ['0-1000 sqft',
  '1000-1500 sqft',
  '1500-2000 sqft',
  '2000-2500 sqft',
  '2500-3000 sqft',
  '3000-3500 sqft',
  '3500-4000 sqft',
  '4000-5000 sqft',
  '5000-7500 sqft',
  '7500-10000 sqft',
  '10000+ sqft'],
 [0, 0.11, 0.17, 0.23, 0.35, 0.5, 1, 1.5, 3, 10, 701.0],
 ['0-0.11 acres',
  '0.11-0.17 acres',
  '0.17-0.23 acres',
  '0.23-0.35 acres',
  '0.35-0.5 acres',
  '0.5-1 acres',
  '1-1.5 acres',
  '1.5-3 acres',
  '3-10 acres',
  '10+ acres'],
 array([ 0.        ,  0.75      ,  1.        ,  1.10000002,  1.20000005,
         1.5       ,  1.75      ,  2.        ,  2.0999999 ,  2.20000005,
         2.5       ,  3.        ,  3.0999999 ,  3.5       ,  4.        ,
         4.0999999 ,  4.5       ,  5.        ,  6.        ,  7.        ,
         8.        ,  9.        , 10.        , 11.        , 12.        ,
        13.        , 14.        , 17.        , 23.        , 25.        ]),
 ['0.75',
  '1.0',
  '1.100000023841858',
  '1.2000000476837158',
  '1.5',
  '1.75',
  '2.0',
  '2.0999999046325684',
  '2.200000047683716',
  '2.5',
  '3.0',
  '3.0999999046325684',
  '3.5',
  '4.0',
  '4.099999904632568',
  '4.5',
  '5.0',
  '6.0',
  '7.0',
  '8.0',
  '9.0',
  '10.0',
  '11.0',
  '12.0',
  '13.0',
  '14.0',
  '17.0',
  '23.0',
  '25.0'],
 array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 16., 18.]),
 ['1.0',
  '2.0',
  '3.0',
  '4.0',
  '5.0',
  '6.0',
  '7.0',
  '8.0',
  '9.0',
  '10.0',
  '11.0',
  '12.0',
  '13.0',
  '16.0',
  '18.0'])

In [485]:
# Dataset A: No binning at all.

data_a = real_estate_data.copy()

In [486]:
# Dataset B: Use all bins.

data_b = real_estate_data.copy()

data_b["ListedPrice_Binned"] = pd.cut(
    data_b["ListedPrice"], bins=price_bins, labels=price_labels
)
data_b["Area_Binned"] = pd.cut(data_b["Area"], bins=area_bins, labels=area_labels)
data_b["Bedroom_Binned"] = pd.cut(data_b["Bedroom"], bins=bed_bins, labels=bed_labels)
data_b["Bathroom_Binned"] = pd.cut(
    data_b["Bathroom"], bins=bath_bins, labels=bath_labels
)
data_b["LotArea_Binned"] = pd.cut(data_b["LotArea"], bins=lot_bins, labels=lot_labels)

data_b = data_b.drop(["ListedPrice", "Area", "Bathroom", "Bedroom", "LotArea"], axis=1)

In [487]:
# Dataset C: Area binned only.

data_c = real_estate_data.copy()

data_c["Area_Binned"] = pd.cut(data_c["Area"], bins=area_bins, labels=area_labels)
data_c["LotArea_Binned"] = pd.cut(data_c["LotArea"], bins=lot_bins, labels=lot_labels)

data_c = data_c.drop(["Area", "LotArea"], axis=1)

In [488]:
# Dataset D: Only price binned.

data_d = real_estate_data.copy()

data_d["ListedPrice_Binned"] = pd.cut(
    data_d["ListedPrice"], bins=price_bins, labels=price_labels
)

data_d = data_d.drop(["ListedPrice"], axis=1)