In [112]:
import pandas as pd

# Explore Data

In [113]:
real_estate_df = pd.read_csv("./data/real_estate_data.csv")

max.head()

       Count
State
CT       499
MI       496
IN       495
NH       495
CA       494